
Search: <input ng-model="searchText">
<div class="row">
	<div class="col-sm-4" ng-repeat="d in daily | searchField : 'cName' | filter:searchText" >
		<div class="thumbnail">
			<div class="caption">
				<h3><small>{{d.cName}}</small><a href="#/analysis/{{d.symbol}}" class="btn btn-warning" role="button" style="float:right">Analysis</a></h3><hr/>
				<p>Date                   : {{d.dates}}</p>
				<p>Yester Day Close       : {{d.close}}</p>
				<p>Today Close Prediction : {{d.shortpre}}</p>
				<div class="table-responsive">
					<table class="table table-hover table-bordered">
						<thead>
							<tr>
								<th>RSI</th>
								<th>SCS</th>
								<th>MACD</th>
								<th>VR</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="active">{{d.rsi}}</td>
								<td class="success">{{d.scs}}</td>
								<td class="warning">{{d.macd}}</td>
								<td class="danger">{{d.vr}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<p><a href={{d.linkURL}} class="btn btn-primary" role="button" target="_blank">{{d.linkURL}}</a> </p>
		</div>
	</div>
</div>